<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body id="yogaschedulebody">

<div class="containerForFooterPos">


<ul id="yogaCol-Wrapper">

  <li id="yogaCol-Left" class="ycol">

       <%= image_tag('c1.jpg', :id => 'c1pic') %>


  </li>


  <li id="yogaCol-Right" class="ycol">

    <table class="yogaScheduleTable">
      <tr><a class="weekly-schedule-header">Weekly Schedule</a></tr>

      <tr><th class="studio-header">Beacon Hill</th></tr>

      <tr><td class="class-time">Tues: 10:30 AM Slow Flow</td></tr>

      <tr><td class="class-time">Wed: 7:30 AM Vinyasa Flow</td></tr>

      <tr><td class="class-time">Sun: 9:30 AM Vinyasa Flow</td></tr>

      <tr><td class="class-time">4:30 PM Heated Flow</td></tr>

      <tr><td class="class-time">6:00 PM Flow and Restore</td></tr>

      <tr><th class="studio-header">Vim Fitness</th></tr>

      <tr><td class="class-time">Sat: 11:00 AM Vinyasa Flow</td></tr>

      <tr><th class="studio-header">JFK Federal Fitness Center</th></tr>

      <tr><td class="class-time">Tues:  12:30 PM Vinyasa Flow</td></tr>
    </table>

  </li>


</ul>


</div>


  <div class="clearfix"></div>

</div>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>


</body>
</html>
