<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

<!-- to create a flash message -->
  <div>
    <% flash.each do |key, value| %>
      <div>
        <a href="/contacts/new" data-dismiss="alert">×</a>
          <%= value %>
      </div>
    <% end %>
  </div>


</body>
</html>
