<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Courtney Dutra</title>
  </head>


  <body id="body-landing">

    <div class="marginSpace floater"><br></div>


    <div class="photoSpace floater" href="/art/work">
      <a href="/art/work"><%= image_tag("artlanding3.png", :id => 'artlanding-image') %></a>
      <a class="text-landing" id="art-land" href="/art/work">Art</a>
    </div>

    <div class="mobileclear"></div>


    <div class="photoSpace floater">
      <a href="/yoga/schedule"><%= image_tag("yogalanding.png", :id => 'yogalanding-image') %></a>
      <a class="text-landing" id="yoga-land" href="/yoga/schedule">Yoga</a>
    </div>


    <div class="marginSpace floater"><br></div>


  </body>
</html>
