<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body id="artbio-body">

  <div class="containerForFooterPos">

  <div id="aboutpageTopspace"></div>
  <div id="indexcontainer">
    <div id="rowski">
      <div class="colskiside cols" id="leftcols"></div>
      <div class="cols "id="colskimain">
       <%= image_tag('artbiopic.jpg', :id => 'aboutpic') %>
      <span id="bioContent">
        <!--Courtney is a fucking legendary painter. If you think Picasso was a good painter,
        then fuck you because he sucks. Davinci could barely paint a
        stick figure in comparisson to Courtney's level of work. Buy
        any of her paintings beginning as low as <button><i>See Price in Cart</i></button>!!!!-->

        <p>Courtney began her painting studies at the Maryland Institute - College
        of Art in Baltimore, MD, where she developed the foundation of her art
        education.  After two years she transferred to Boston University where
        she completed her Bachelors of Fine Arts degree with a concentration in
        painting.</p>
        <br>
        <p>Courtney draws her inspiration for painting from her everyday surroundings.
          She works with prepared and found settings. Her work is often strictly
          observation, fueled by relationships and history; Courtney loves the
          process of seeing, studying, and imitating. When she is not making art,
          Courtney enjoys practicing and teaching yoga. She currently lives
          and paints in Cambridge, Massachusetts.</p>
          <br>
        <span>Please </span><a href="/contacts/new" class="contactfromArtBioButton contactformbuttonText">contact</a> <span>Courtney with any questions, comments, or purchase
          inquiries.</span>
      </span>

      </div>
      <div class="colskiside cols" id="rightcols"></div>
    </div>
  </div>

  <div class="clearfix"></div>

</div>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
