<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <footer>
    <div class="footerWrapper">


      <div class="navlistControl">

            <a class="footerNav"><a class="footerText" href="/landing_page/index">Home |</a></a>
            <a class="footerNav"><a class="footerText" href="/art/work">Art Work |</a></a>
            <a class="footerNav"><a class="footerText" href="/art/biography">Art Bio |</a></a>
            <a class="footerNav"><a class="footerText" href="/yoga/schedule">Yoga Schedule |</a></a>
            <a class="footerNav"><a class="footerText" href="/yoga/about">Yoga About |</a></a>
            <a class="footerNav"><a class="footerText" href="/contacts/new">Contact</a></a>

      </div>

      <div class="sigSpot signatureText">Design by Michael Chase | 2018 &copy;</div>

    <div class="iconControl">
      <div class="iconKid">
        <a href="https://www.etsy.com/shop/courtneydutrayoga" target="_blank" class="fa fa-etsy"></a>
        <a href="https://www.instagram.com/courtney.dutra/" target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.facebook.com/courtneydutrayoga/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.linkedin.com/ln/courtney-dutra-4a559a13b/" target="_blank" class="fa fa-linkedin"></a>
      </div>
    </div>










    </div>
  </footer>

</html>
